<link rel="stylesheet" href="{{ site.url }}/assets/css/font-awesome-4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href='{{ site.url }}/assets/css/mini-default.min.css' type="text/css">
<link rel="stylesheet" href='{{ site.url }}/assets/css/styles.css' type="text/css">
<link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-AMS_CHTML">
</script>