<!-- <header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>
</header>
<a href='{{ site.url }}/'> Home</a> | <a href='{{ site.url }}/about/'>About </a> | <a href='{{ site.url }}/contact/'> Contacts</a> | <a href='{{ site.url }}/archive/'> Archive</a> 
<hr> -->
<div class="main-container">
    <div class="top-header">
        <a href="{{ site.url }}"><img src='{{ site.url }}/assets/imgs/LogoLettering.png' class="logoimg"></a> 
       <div class="topnav block" id="myTopnav">
           <!-- <a href="{{ site.url }}/contact/" class="menu-link">Contact</a>   -->
           <a href="{{ site.url }}/about/" class="menu-link">About</a>  
           <a href="{{ site.url }}/blog/" class="menu-link">Blog</a>  
           <a href="" class="menu-link">Projects</a>  
           <!-- <a href="javascript:void(0);" class="icon" onclick="toggleNav()">
            <i class="fa fa-bars"></i>
          </a> -->
       </div>
    </div>
</div>
<!-- <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <a href="{{ site.url }}"><img src='{{ site.url }}/assets/imgs/LogoLettering.png' class="logoimg"></a>
        </div>
        <div class="col-sm-12 col-md-4">
            <a href="{{ site.url }}/about/" class="menu-link">About</a>  
            <a href="{{ site.url }}/archive/" class="menu-link">Blog</a>  
            <a href="" class="menu-link">Projects</a>  
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <input type="checkbox" id="drawer-control" class="drawer">
    <div class="col-md-4">
      <label for="drawer-control" class="drawer-close"></label>
      <a href="#">Home</a>
    </div>
    <div class="col-sm-12 col-md-8">
      <p>Page content</p>
    </div>
  </div> -->